<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin Panel</title>
</head>
<body>

<div class="container" style="max-width: 100%">
    <div class="row navbar navbar-dark bg-dark">
        <div class="col">
            <b id="email" class="text-white"></b>
            <span class="text-white">with roles:</span>
            <span id="roles" class="text-white"></span>
        </div>
        <div class="col-1"><a class="nav-link active text-white-50" href="/logout">Logout</a></div>
    </div>
</div>

<div class="container" style="max-width: 100%">
    <div class="row" style="height: 120vh">
        <div class="col-2 pt-3 pl-0 pr-0">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="/adminPanel">Admin</a>
                <a class="nav-link" href="/adminUser">User</a>
            </nav>
        </div>

        <div class="col-10 bg-light pt-3 pl-0 pr-0">
            <div class="container">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="usersTable" data-toggle="tab" href="#allUsers">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabNewUser" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="allUsers">
                        <div class="card">
                            <div class="bg-light p-2 pl-4 font-weight-bold"><h5>All users</h5></div>
                            <div class="card-block p-3">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--модальное окно редактирования-->
                    <div class="modal fade" id="modalEdit"
                         tabindex="-1" role="dialog"
                         aria-labelledby="TitleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit
                                        user</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body offset-sm-4 text-center">
                                    <form class="row g-3" >
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <div class="control-group required">
                                                    <div class="controls">
                                                        <label for="editId"
                                                               class="col-form-label">Id<input
                                                                class="form-control" type="number"
                                                                id="editId"
                                                                disabled></label>
                                                        <h1></h1>
                                                        <label for="FirstName"
                                                               class="col-form-label">Fist Name<input
                                                                id="FirstName"
                                                                class="form-control"
                                                                type="text"
                                                                name="firstName"
                                                                required></label>
                                                        <h1></h1>
                                                        <label for="LastName"
                                                               class="col-form-label">Last Name<input
                                                                id="LastName"
                                                                class="form-control"
                                                                type="text"
                                                                name="lastName"
                                                                required></label>
                                                        <h1></h1>
                                                        <label for="emailEdit"
                                                               class="col-form-label">Email<input
                                                                id="emailEdit"
                                                                class="form-control"
                                                                type="text"
                                                                name="email"
                                                                required></label>
                                                        <h1></h1>
                                                        <label for="password"
                                                               class="col-form-label">Password<input
                                                                id="password"
                                                                class="form-control" type="text"
                                                                name="password"></label>
                                                        <h1></h1>
                                                        <div>
                                                            <label for="rolesEdit"
                                                                   class="col-form-label">Role</label>
                                                            <select class="form-control"
                                                                    id="rolesEdit"
                                                                    multiple size="2">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-body offset-sm-5">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--модальное окно удаления-->
                    <div class="modal fade" id="modalDelete"
                         tabindex="-1" role="dialog"
                         aria-labelledby="TitleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete user</h5>
                                    <button type="button" class="close"
                                            data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body offset-sm-4 text-center">
                                    <form id="delForm">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <div class="control-group required">
                                                    <div class="controls">
                                                        <label for="delId"
                                                               class="col-form-label">Id<input
                                                                class="form-control" type="number"
                                                                id="delId"
                                                                disabled></label>
                                                        <h1></h1>
                                                        <label for="delFirstName"
                                                               class="col-form-label">First Name<input
                                                                class="form-control"
                                                                type="text"
                                                                id="delFirstName"
                                                                disabled></label>
                                                        <h1></h1>
                                                        <label for="delLastName"
                                                               class="col-form-label">Last Name<input
                                                                class="form-control"
                                                                type="text"
                                                                id="delLastName"
                                                                disabled></label>
                                                        <h1></h1>
                                                        <label for="delEmail"
                                                               class="col-form-label">Email<input
                                                                class="form-control"
                                                                type="text" step="1" min="0"
                                                                id="delEmail"
                                                                disabled></label>
                                                        <h1></h1>
                                                        <div>
                                                            <label for="delRoles"
                                                                   class="col-form-label">Role</label>
                                                            <select class="form-control"
                                                                    name="roles" id="delRoles"
                                                                    multiple size="2" disabled>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body offset-sm-5">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-danger btn btn-primary">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- создание нового user -->

                            <div class="tab-pane fade" id="newUser">
                            <div class="card">
                                <div class="card-block">
                                    <div class="bg-light p-2 pl-4"><h5>Add new user</h5></div>
                                    <form id="createUserForm">
                                        <div class="text-center  font-weight-bold"
                                             style="margin-left:400px; margin-right:400px; margin-bottom:20px;">
                                            <div class="form-group">
                                                <label for="addFirstName" class="col-form-label">First Name</label>
                                                <input type="text" class="form-control" id="addFirstName"
                                                       name="FirstName" placeholder="First Name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addLastName" class="col-form-label">Last Name</label>
                                                <input type="text" class="form-control" id="addLastName" name="LastName"
                                                       placeholder="Last Name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addEmail" class="col-form-label">Email</label>
                                                <input type="text" class="form-control" id="addEmail" name="Email"
                                                       placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addPassword" class="col-form-label">Password</label>
                                                <input type="text" class="form-control" id="addPassword" name="Password"
                                                       placeholder="Password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addRoles" class="col-form-label">Role</label>
                                                <select class="form-control" name="rolesId"
                                                        id="addRoles" multiple size="2" required>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-success" id="addNewUserBtn">Add new user</button>

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/adminPanel.js"></script>

</body>
</html>